<div>
    <ul>
    <% // Sorts dataDots by nucleotidePosition using array's sort method -- so that the graphic will render in order of nucleotide position %>
    <% dataPoints.sort((entry1, entry2) => entry1.nucleotidePosition - entry2.nucleotidePosition); %>
        <% for (const [index, dataPoint] of dataPoints.entries()) { %>
            <li> 
                <a href="/<%= dataPoint._id %>">
                    <%= dataPoint.nucleotidePosition %>. 
                    <%= dataPoint.templateNucleotide %>:<%= dataPoint.codingNucleotide %>
                    <% if(dataPoint.nucleotideMatch === true) { %>
                        - Match
                    <% } else { %>
                        - Mismatch
                    <% } %>
                    - Added: 
                        <%= dataPoint.dateAdded.getMonth() + 1 %>-<%= dataPoint.dateAdded.getDate() %>
                        <%= dataPoint.dateAdded.getHours() %>:<%= dataPoint.dateAdded.getMinutes().toString().padStart(2,`0`) %> <!-- padStart converts e.g. '2'->'02'; needs to be in string format -->
                    <% if(!isNaN(dataPoint.dateModified)) {%>
                        - Modified:
                            <%= dataPoint.dateModified.getMonth() + 1 %>-<%= dataPoint.dateModified.getDate() %>
                        <%= dataPoint.dateModified.getHours() %>:<%= dataPoint.dateModified.getMinutes().toString().padStart(2,`0`) %> <!-- padStart converts e.g. '2'->'02'; needs to be in string format -->
                    <% } else { %>
                        - Unmodified
                    <% } %>
                </a>
            </li>
        <% } %>
    </ul>
</div>